/* _content/achievoo/Components/Layout/MainLayout.razor.rz.scp.css */
.sidebar[b-hi9t775e8k] {
    width: 300px;
    background-color: var(--background-color-dark);
    color: var(--text-light);
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
}

.main-content[b-hi9t775e8k] {
    margin-left: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--text-light);
    overflow-y: auto;
    padding: 30px;
}

.sidebar-section-title[b-hi9t775e8k] {
    padding: 12px 12px 7px 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #7F7F7F;
    display: grid;
    gap: 2px;
}

.nav-item[b-hi9t775e8k] {
    margin: 3px auto !important;
    color: var(--text-light) !important;
    width: 100%;
}

.nav-link-text[b-hi9t775e8k] {
    margin-left: 10px !important;
}

.header[b-hi9t775e8k] {
    background-color: var(--background-color-dark);
    color: var(--text-light);
    padding: 30px;
    border-bottom: 1px solid var(--border);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.muted[b-hi9t775e8k] {
    color: #7F7F7F;
}

.breadcrumb-divider[b-hi9t775e8k] {
    padding: 5px;
    color: var(--border);
}

.sidebar-content[b-hi9t775e8k] {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 17px;
}

.nav-pills:first-of-type[b-hi9t775e8k] {
    flex: 1;
}

.nav-pills:last-of-type[b-hi9t775e8k] {
    margin-top: auto;
}

.header-icons[b-hi9t775e8k] {
    color: var(--text-light);
}
/* _content/achievoo/Components/Modules/EmployeeCard.razor.rz.scp.css */
.employee-card[b-rdhcc6s6ck] {
    padding: 2rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-container[b-rdhcc6s6ck] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.profile-header[b-rdhcc6s6ck] {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-header img[b-rdhcc6s6ck] {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile-header h3[b-rdhcc6s6ck] {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.profile-header p[b-rdhcc6s6ck] {
    margin: 0;
    font-size: 16px;
    color: #576071;
}

.extra-info[b-rdhcc6s6ck] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    color: #A0A7B0;
    font-size: 14px;
    padding-right: 60px;
}

.extra-info i[b-rdhcc6s6ck] { margin-right: 5px; }

.details[b-rdhcc6s6ck] {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.info[b-rdhcc6s6ck] {
    background: #EDF1f5;
    padding: 8px 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    transition: background 0.3s ease;
}

.info i[b-rdhcc6s6ck] {
    color: #FF5249;
    font-size: 16px;
}

.info:hover[b-rdhcc6s6ck] {
    background: #D3DDE6;
    cursor: pointer;
}

.side-button[b-rdhcc6s6ck] {
    position: absolute;
    top: 0;
    right: -15px;
    height: 100%;
    width: 50px;
    background-color: #FF5249;
    color: white;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    text-decoration: none;
}

.side-button i[b-rdhcc6s6ck] { font-size: 20px; }
.side-button:hover[b-rdhcc6s6ck] { background-color: #D9443F; }
/* _content/achievoo/Components/Pages/EmployeeDetails.razor.rz.scp.css */
/* _content/achievoo/Components/Pages/Organizations.razor.rz.scp.css */
